<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      News app 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">News app</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles [articles]="articles" >// Data binding, cuidado no usar espacios en los corchetes
  </app-articles>
</ion-content>
